<head>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="../static/css/base.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script charset="UTF-8">
            $(document).ready(function(){
                var path = window.location.pathname;
                var links = $('.navbar-nav').children('li');

                for (var i=0; i<links.length; i++) {
                    if (path == $(links[i]).children('a').attr('href')){
                        $(links[i]).addClass('active');

                    } else{
                       $(links[i]).removeClass('active');
                    }
                }
            });
        </script>
    {% block head %}
    {% endblock %}
</head>

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Evert</a>
        </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/upload">Upload</a></li>
                    <li><a href="/dataviewer">Data Viewer</a></li>
                    <li><a href="/plotlyplotting">Plotly Plot</a></li>
                    <li><a href="/plugins">Plugins</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}