{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Plot{% endblock %}
{% block head %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/plotly.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/lodash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/constructors.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/plotaddons.js') }}"></script>


    <script src="{{ url_for('static', filename='javascript/plot.js') }}?v=989" type="text/javascript"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>


{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Data Plotting</h1>
</div>
<div class="container-fluid">
     <form class='form form-horizontal' enctype="multipart/form-data" action="" role="form">
         <fieldset class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="display: inline;">
             <legend>Plot Data</legend>
              <div class="form-row row" style="display: block">
                Select Plant: {{ form.selectPlant(class='form-control') }}
                Select Units: {{ form.selectUnits(class='form-control') }}
                Select Tags: {{ form.selectTags(class='form-control') }}
             </div>
              <div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-top: 20px">
                 <input type="button" class="btn btn-primary" id='Submit' value="Plot">
                 <button type="button" class="btn btn-default" id="deleteplot">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                 </button>
              </div>
         </fieldset>
         <fieldset class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="display: inline">
             <legend>Plot Options</legend>

             <div>
                 <label for="AddOnSelect">Plot add-ons</label>
                 <select id="AddOnSelect" class="form-control">
                     <option value='none'>None</option>
                     <option value="gridplot">Grid Plot</option>
                     <option value="pca">PCA</option>
                 </select>
             </div>
             <div class="checkbox">
                 <label><input type="checkbox" id="subplots-check">Subplots</label>
             </div>
             <div class="checkbox" id="linkXcheckbox" style="display: none">
                 <label><input type="checkbox" id="linkXaxesValue">Link x-axes</label>
             </div>
             <div class="checkbox">
                 <label><input type="checkbox" id="showPluginCheckbox" >Show Plugin Data</label>
             </div>

         </fieldset>


     </form>
</div>

<div id="plot" style="min-height: 600px"></div>
<div id="plotAddOnsArea" style="min-height: 500px">


</div>

{% endblock %}