{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Plot{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='css/c3.min.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static', filename='javascript/c3.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/plot.js') }}?v=989" type="text/javascript"></script>

{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Data Plotting</h1>
</div>
<div class="container-fluid">
     <form class='form form-horizontal' enctype="multipart/form-data" action="" role="form">
         <fieldset class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="display: inline;">
             <legend>Plot Data</legend>
              <div class="form-row row" style="display: block">
                Select Plant: {{ form.selectPlant(class='form-control') }}
                Select Units: {{ form.selectUnits(class='form-control') }}
                Select Tags: {{ form.selectTags(class='form-control') }}
             </div>
              <div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-top: 20px">
                 <input type="button" class="btn btn-primary" id='Submit' value="Plot">
                 <button type="button" class="btn btn-default" id="deleteplot">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                 </button>
              </div>
         </fieldset>
{#         <fieldset class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="display: inline">#}
{#             <legend>Plot Options</legend>#}
{#             <div style="display: block">#}
{#                     Plot type: {{ form.selectType(class='form-control') }}#}
{#             </div>#}
{#         </fieldset>#}


     </form>
</div>
<div class="container col-md-12 col-sm-12 col-lg-12" id="plotarea">
<div id="plot"></div>
</div>


{% endblock %}