{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Plugins{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='javascript/custom/plugins.js') }}?v=9"></script>
{% endblock %}
{% block page_content %}
    <div id="alerts">

    </div>

    <div class="page-header">
        <h1>Available plugins</h1>
    </div>

    <ul class="nav nav-tabs">
        <li id="toggle"><a  href="#">Toggle</a> </li>
        <li id="upload"><a href="#" >Upload</a></li>
    </ul>


    <div class="container col-md-12 col-lg-12 col-sm-12" id="plugins_toggle">
        <div class="form-group col-md-6 col-sm-5 col-lg-6">
            {{ form.hidden_tag() }}
            {{ form.select_disabled.label(class='col-form-label') }}
            {{ form.select_disabled(class='form-control')}}
            {{ form.select_enabled.label(class='col-form-label') }}
            {{ form.select_enabled(class='form-control') }}
        </div>
        <div class="container form-group col-md-12 col-sm-12 col-lg-12">
            <input type="submit" class="btn btn-default" value="Enable" id="enable">
            <input type="submit" class="btn btn-default" value="Disable" id="disable">
        </div>
        <br class="container col-md-12 col-lg-12 col-sm-12">
        <hr class="container col-md-12 col-lg-12 col-sm-12">

    </div>

    <div class="container col-md-12 col-lg-12 col-sm-12" id="plugins_upload">
        <div class="form-group col-md-6 col-sm-5 col-lg-6">
            <form class="form" enctype="multipart/form-data" method="post" role="form" id="uploadplugin">
                {{ form2.hidden_tag() }}
                {{ form2.file.label(class='col-form-label') }}
                {{ form2.file(class='btn btn-defualt btn-file', required=true) }}
            <input type="submit" class="btn btn-default" value="Upload" id="plugin_submit">
            </form>
        </div>
        <br class="container col-md-12 col-lg-12 col-sm-12">
        <hr class="container col-md-12 col-lg-12 col-sm-12">
    </div>
{% endblock %}