{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Plugins{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Available plugins</h1>
    </div>
    <div class="container">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.select_disabled}}
            {{ form.select_enabled }}
        </div>

        <input type="button" class="btn btn-default" value="Enable" id="enable">
        <input type="button" class="btn btn-default" value="Disable" id="disable">

    </div>

{% endblock %}