{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Uploads{% endblock %}
{% block page_content %}
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages%}
                {% for cat, message in messages %}
                    <div class="alert alert-{{ cat }} alert-dismissible col-md-7 text-center" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="page-header">
        <h1>File upload</h1>
    </div>
    {{ wtf.quick_form(form) }}
    {{ emit_event("uploads") }}
{% endblock %}


