{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    <link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='javascript/libraries/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/custom/uploads.js') }}"></script>
{% endblock %}

{% block title %}Data Setup{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Data Setup</h1>
    </div>

    <ul class="nav nav-tabs">
         <li id="open" class="active"><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i>
            Upload</a></li>
        <li id="setup">
            <a href="#" ><i class="fa fa-cogs" aria-hidden="true"></i> Plant setup</a>
        </li>
        <li id="manage">
            <a href="#"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;Data management</a>
        </li>
    </ul>
    <br>

    <div id="dataopen">
        <div  id="uploaddesc">
            <p>
            There are 2 different ways use data on Evert:
                <ol>
                    <li>
                        <strong>Open</strong> - This will open the data and you will be able to use the basic features of Evert
                        .
                    </li>
                    <li>
                        <strong>Upload</strong> - This will import the data into the database and all the features of evert
                        will be
                        available to you. The data will also not be lost should you close Evert.
                    </li>
                </ol>

                The file format currently supported for Evert is: <strong>.csv</strong>
            </p>
        </div>

        <form action="/_dataopen" class="dropzone" id="dataupload">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
    </div>

    <div id="plant_setup" hidden="hidden">
        <form class='form form-horizontal' enctype="multipart/form-data" action="" method="post" role="form">
            <fieldset class="container col-sm-12 col-md-12 col-lg-12">
                    {{ form2.hidden_tag() }}
                    <h3>Plant Setup</h3>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        {{ form2.plant_select.label(class='form-select-label') }} {{ form2.plant_select
                        (class='form-control plant_setup') }}<br>
                        {{ form2.plant_name.label(class='form-text-label') }} {{ form2.plant_name(class='form-control') }}
                        <button id="updateplantname" class="btn btn-primary pull-right" type="button"
                                style="margin-top: 10px; margin-bottom: 10px">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Update
                        </button>
                    </div>
                        <hr class="col-sm-12 col-md-12 col-lg-12"/>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h3 style="margin-top: 20px">Unit Setup</h3>
                        {{ form2.unit_select.label(class='form-select-label') }}{{ form2.unit_select(class='form-control plant_setup') }}
                        {{ form2.unit_name.label(class='form-select-label') }}{{ form2.unit_name(class='form-control plant_setup') }}

                        <button id="addunit" class="btn btn-primary pull-right" type="button"
                                style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Add
                        </button>
                        <button id="updateunit" class="btn btn-primary pull-right" type="button"
                                style="margin-top: 10px; margin-bottom: 10px">
                            <i class="fa fa-plus" aria-hidden="true"></i> Update
                        </button>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        {{ form2.tags.label(class='form-select-label') }}{{ form2.tags(class='form-control plant_setup') }}
                        <button class="btn btn-primary pull-right" id="settags" type="button">
                            <i class="fa fa-link" aria-hidden="true"></i> Link Tags
                        </button>

                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-7" style="display: inline">
                        {{ form2.unit_tags.label(class='form-select-label') }}{{ form2.unit_tags(class='form-control plant_setup') }}
                        <button class="btn btn-primary pull-right" id="removetags">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove Link
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12"><hr/></div>


                    <br/>
                    <div style='display: block' class="col-sm-6 col-md-6 col-lg-6">
                        <h3>Tag Meta Data</h3>
                        <label class="form-select-label" for="tagsmeta">Select Tags</label>
                        <select data-placeholder="Select a tag" class="form-control plant_setup" id="tagsmeta" multiple></select>

                        <label class="form-select-label" for="taglowerbound">Lower Bound</label>
                        <input type="text" class="form-control" id="taglowerbound">

                        <label class="form-select-label" for="tagupperbound">Upper Bound</label>
                        <input type="text" class="form-control" id="tagupperbound">

                        <label class="form-select-label" for="tagunits">Units</label>
                        <input type="text" class="form-control" id="tagunits">

                        <input type="button" value="Submit" class="btn btn-primary" style="margin-top: 10px" id="submitmeta">

                    </div>

            </fieldset>
        </form>
    </div>
    <div id="datamanage" hidden="hidden">
        <form class="form form-horizontal" enctype="multipart/form-data" action="" role="form">
            {{ form2.hidden_tag() }}
            <div class="row col-sm-6 col-md-6 col-lg-6">
                {{ form2.plant_select.label(class='form-select-label') }} {{ form2.plant_select(class='form-control
                datamanage
                ') }}<br>
                <input type="button" value="Delete" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px" id="deleteplant"><br>
                {{ form2.unit_select.label(class='form-select-label') }}<br>{{ form2.unit_select(class='form-control datamanage
                ', id='unit_select_datamanage') }}
                <input type="button" value="Delete" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px" id="deleteunit"><br>
                {{ form2.unit_tags.label(class='form-select-label') }}{{ form2.unit_tags(class='form-control datamanage') }}
                <input type="button" value="Delete" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px" id="deleteunittags"><br>
                 {{ form2.tags.label(class='form-select-label') }}{{ form2.tags(class='form-control datamanage') }}
                <input type="button" value="Delete" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px" id="deletetags"><br>
            </div>
        </form>
    </div>




{% endblock %}
