{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    <script src="{{ url_for('static', filename='javascript/uploads.js') }}"></script>
{% endblock %}

{% block title %}Uploads{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>File upload</h1>
    </div>
    <br>

     <ul class="nav nav-tabs">
        <li id="upload" class="active"><a  href="#"><span class="glyphicon glyphicon-open"></span>&nbsp;Upload</a> </li>
        <li id="setup"><a href="#" ><span class="glyphicon glyphicon-cog"></span>&nbsp; Plant setup</a></li>
    </ul>
    <br>

    <div id="upload_file" class="container col-sm-6 col-md-6 col-lg-6">
        {{ wtf.quick_form(form) }}
    </div>

    <div id="plantsetup" class="container col-sm-6 col-md-6 col-lg-6" hidden="hidden">
        {{ wtf.quick_form(form2) }}


    </div>




{% endblock %}


